button,
.button {
    padding:        0.5rem 1.5rem;
    margin-bottom:  1rem;
    background:     #641b10;
    color:          #fff;
    border:         1px solid scale_color(#641b10, $lightness: -5%);
    transition:     background-color 0.25s ease-out, color 0.25s ease-out;
    cursor:         pointer;

    &:focus {
        outline: 1px solid scale_color(#641b10, $lightness: 10%);
    }

    &:focus,
    &:hover {
        background: #b24822;
    }
}